doctype html
head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Cytaty nauczycieli
  link(rel="stylesheet", href="./css/style.min.css")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
body
  #app

  script(src="./js/app.min.js", charset="utf-8")
